.allproject-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

.allproject-container button:hover {
    background-color: blue;
}

.details-container {
    width: 40%;
    padding: 5%;
    text-align: center;

}



.projectimage-container {
    width: 50%;
    /* height: 100%; */
    padding-left: 5%;
    padding-right: 5%;


}

.projectimage-container img {
    width: 100%;
    height: 100%;
    border: black solid 1px;




}

@media only screen and (max-width: 576px) {
    .allproject-container {

        width: auto;
        display: block;
        margin-bottom: 10%;
    }

    .details-container {
        width: 100%;
        padding: 0 2%;
        /* margin-left: 2%; */

        margin-bottom: 10%;
    }

    .projectimage-container {

        width: 100%;
        margin-left: 0;


    }

}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .allproject-container {



        display: block;

        margin-bottom: 10%;
    }

    .details-container {

        width: 100%;
        padding: 0 5%;
        margin-bottom: 10%;
    }

    .projectimage-container {

        width: 80%;
        height: 150vh;
        margin-left: 10%;


    }
}