.resume {
    width: 100vw;
    height: 80vh;
}

.resume-container {

    width: 80%;
    height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    border-radius: 10px;
}

.resume-elements {
    padding: 5%;

}

.resume-container h3 {
    margin-bottom: 5%;
}



.resume-container button:hover {
    background: blue;
    color: white;
}

/* for mobile device */
@media only screen and (max-width: 576px) {

    .resume {
        width: 100vw;
        height: 80vh;
        padding-top: 25%;
    }

    .resume-container {
        height: 65%;
        width: 85%;
        margin-left: 8%;
    }
}

/* for medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {

    .resume {
        width: 100vw;
        height: 100vh;
        padding-top: 17%;
    }

    .resume-container {
        height: 60%;
    }
}