.lefttext a {
    color: White;
    font-size: larger;
    font-weight: bolder;
    background-color: hsl(var(--sf, var(--s)) / var(--tw-bg-opacity));
    border-radius: 20%;
}


.lefttext a:hover {
    color: White;
    background-color: blue;

    border-radius: 30%;
}

.listitems a {
    text-decoration: none;
}

.listitems a:hover {
    color: White;
    background-color: blue;


}

.right-content li {
    color: white;

}