 .footer-body {
     /* position: absolute;
     top: 100%; */
     /* margin-bottom: 0;
     margin-left: 0;
     margin-right: 0; */
 }

 /* @media only screen and (max-width: 576px) {
     .footer-body {
         margin-top: 35%;
     }
 }

 @media screen and (min-width: 993px) and (max-width: 1400px) {
     .footer-body {}

 } */